@import '../../styling/variables';

.schedule-container {
  padding: 50px;
  background-color: black;
  color: white;
}

.schedule-container-title {
  padding: 50px 0;
  text-align: center;
  font-weight: bold;
  font-size: $font-size-title;
}

.timetable-container {
  margin: 0 auto;
  justify-content: center;
  text-align: center;

  .timetable-container-title {
    margin-top: 20px;
    padding: 20px 50px;
    display: initial;
    border: 1px solid white;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 100;
    color: white;
  }
}

.timetable-container-mobile {
  display: none;
  margin: 0 auto;
  justify-content: center;
  text-align: center;

  .timetable-container-mobile-title {
    margin-top: 20px;
    padding: 20px 50px;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 15px;
    font-weight: 100;
    color: white;
  }

  .timetable__beginners, .timetable__advanced {
    .course {
      max-width: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.35);
      border-right: none;

      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}

.timetable__beginners {
  .course {
    border-right: 1px solid rgba(255, 255, 255, 0.35);
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  }
}

.timetable__advanced-first {
  .course {
    border-right: 1px solid rgba(255, 255, 255, 0.35);
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  }
}

.timetable__advanced-second {
  .course {
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  }
}

.course {
  padding: 10px 50px;
  width: 100%;
  height: 250px;
  max-width: 400px;
  background-color: black;

  &:first-of-type {
    margin-top: 50px;
  }

  &:last-of-type {
    border-bottom: none;
  }

  .icon.icon-gears {
    font-size: 40px;
    color: $color-brand-orange;
  }

}

.course__desc {
  font-size: $font-size-desc;
  padding: 20px;

  &.course__title {
    font-size: 18px;
    font-weight: bold;
  }

}

.course__ora {
  margin-bottom: 10px;
}

@media only screen and (max-width: $tablet) {
  .schedule-container {
    padding: 10px;

    .schedule-container-title {
      padding: 30px;
    }
  }

  .course {
    padding: 10px 20px;
  }

  .timetable-container {
    display: none;
  }

  .timetable-container-mobile {
    display: block;
  }
}