@import '../../styling/variables';

.schedule__container {
    padding: 50px;
        background-color: white;
        color: black;
}

.schedule__para {
    padding-left: 40px;
    text-indent: 30px;
}

.schedule__title {
    text-align: center;
}
