@import '../../styling/variables';

.schedule-container {
  padding: 50px;
  background-color: black;
  color: white;
}

.schedule-container-title {
  text-align: center;
  font-size: $font-size-title;
  padding: 50px 0;
  font-weight: bold;
}

.timetable-container {
  margin: 0 auto;
  justify-content: center;
  text-align: center;

  th {
    text-transform: uppercase;
    color: white;
    margin-top: 20px;
    font-size: 15px;

    div {
      border-radius: 5px;
      padding: 20px 50px;
      display: initial;
      font-weight: 100;
      border: 1px solid white;
    }
  }
}

.timetable__beginners {
  .course {
    border-right: 1px solid rgba(255, 255, 255, 0.35);
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  }
}

.timetable__advanced-first {
  .course {
    border-right: 1px solid rgba(255, 255, 255, 0.35);
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  }
}

.timetable__advanced-second {
  .course {
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  }
}

.course {
  background-color: black;
  padding: 10px 50px;
  width: 100%;
  height: 250px;
  max-width:400px;

  &:first-of-type {
    margin-top: 50px;
  }

  &:last-of-type {
    border-bottom: none;
  }

  .icon.icon-gears {
    font-size: 40px;
    color: $color-brand-orange;
  }

}

.course__desc {
  font-size: $font-size-desc;
  padding: 20px;

  &.course__title {
    font-size: 18px;
    font-weight:bold;
  }

}

.course__ora {
  margin-bottom: 10px;
}

@media only screen and (max-width: $tablet) {
  .schedule-container {
    padding: 10px;
  }

  .timetable-container {
    th {
      font-size: 18px;

      div {
        background-color: white;
        border-radius: 5px;
      }
    }
  }

  .course {
    padding: 10px 20px;
  }
}