@import '../../styling/variables';

.tech-container {
  padding: 50px;
  text-align: center;

  .tech-container-title {
    padding: 20px 0;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: $font-size-title;
  }

  .tech-container-desc {
    padding: 20px 100px;
    line-height: 24px;
    font-size: $font-size-desc;
    font-weight: lighter;
    color: darken(white, 50%);
  }

  .tech-table-container {
    display: inline-block;
    padding: 50px 25px;

    .tech-card {
      position: relative;
      width: 400px;
      border-radius: 6px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      color: rgba(0, 0, 0, 0.87);
      background-color: white;
    }
    .tech-card__img {
      position: relative;
      width: 90%;
      height: 60%;
      margin-left: 15px;
      margin-right: 15px;
      border-radius: 6px;
      box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
      img {
        width: 350px;
        height: 220px;
      }

      &:hover {
        filter: grayscale(100%);
      }

    }

    .tech-card__desc {
      padding: 15px 30px;
      text-align: left;
      font-size: $font-size-desc;

      .tech-name {
        padding: 15px 0px;
        text-transform: uppercase;
        font-weight: bold;
        color: $color-brand-orange;
      }

      .tech-details {
        color: darken(white, 50%);
      }
    }
  }
}
@media only screen and (max-width: $tablet) {
  .tech-container {
    padding: 10px;
    .tech-container-desc {
      padding: 0px;
    }

    .tech-table-container {
      padding: 10px;

      .tech-card {
        width: 300px;

        .tech-card__img {
          img {
            width: 200px;
            height: 150px;
          }
        }
      }
    }
  }

}