@import '../../styling/variables';

.header {
  min-height: 70px;
  background-color: $color-brand-blue;
  color: white;

  .header-container {
    margin: 0 auto;
    padding: 0 15px;

    .header-container-logo {
      position: relative;
      float: left;
      padding: 5px;
      cursor: pointer;
      color: inherit;

      img {
        width: 60px;
        height: 60px;
      }

    }

    .header-container-button {
      display: none;
      position: relative;
      float: right;
      padding: 26px 0;
      border: 0;
      border-radius: 4px;
      background-color: transparent;
      cursor: pointer;
    }

    .header-container-menu {
      border-top: none;

      li {
        padding: $space-l;
        letter-spacing: 1px;
        font-size: $font-size-menu;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }

      .header-container-menu-desktop {
        display: flex;
        list-style: none;
      }

      .header-container-menu-mobile {
        list-style: none;
      }
    }
  }
}
@media only screen and (min-width: $tablet) {
  .header {
    .header-container {
      .header-container-menu {
        .header-container-menu-mobile {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: $tablet) {

  .header{
    .header-container{
      .header-container-button {
        display: block;
      }
      .header-container-menu {
        padding-top: 20px;

        .header-container-menu-desktop, .header-container-menu-mobile {
          display: none;
        }
      }
    }
  }
}

