@import '../../styling/variables';

.header {
  min-height: 70px;
  background-color: transparent;
  color: $color-brand-grey;

  .header-container {
    margin: 0 auto;
    padding: 0 15px;

    .header-container-logo {
      position: relative;
      float: left;
      padding: 10px;
      cursor: pointer;
      color: inherit;

      img {
        width: 100px;
        height: auto;
      }
    }

    .header-container-button {
      display: none;
      position: relative;
      float: right;
      padding: 26px 0;
      border: 0;
      border-radius: 4px;
      background-color: transparent;
      cursor: pointer;
    }

    .header-container-menu {
      border-top: none;

      li {
        padding: $space-l $space-m;
        letter-spacing: 1px;
        font-size: $font-size-menu;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }

        .icon {
          font-size: 16px;
        }
      }

      .header-container-menu-desktop {
        display: flex;
        list-style: none;
        padding-top: 20px;
      }

      .header-container-menu-mobile {
        list-style: none;
        padding-top: 20px;
      }
    }
  }
}
@media only screen and (min-width: $tablet) {
  .header {
    .header-container {
      .header-container-menu {
        .header-container-menu-mobile {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: $tablet) {

  .header{
    .header-container{
      .header-container-logo {
        padding: 5px;
      }
      .header-container-button {
        display: block;
      }
      .header-container-menu {
        padding-top: 65px;
        margin-left: -50px;

        li {
          padding: 25px 0px;
          border-bottom: 1px solid grey;

          &:last-of-type {
            border-bottom: none;
          }
        }

        .header-container-menu-desktop, .header-container-menu-mobile {
          display: none;
        }
      }
    }
  }
}

