@import '../../styling/variables';

.header {
  min-height: 70px;
  color: white;

  .header-container {
    width: 100%;
    position: fixed;
    z-index: 2;
    margin: 0 auto;
    padding: 0 15px;
    padding-left: 50px;
    background-color: black;

    &.header-transparent {
      background-color: transparent;
    }

    .header-container-logo {
      position: relative;
      float: left;
      padding: 10px;
      cursor: pointer;
      color: inherit;

      img {
        width: 100px;
        height: auto;
      }
    }

    .header-container-button {
      display: none;
      padding: 26px 0;
      border: 0;
      background-color: transparent;
      cursor: pointer;
    }

    .header-container-menu {

      button.header-container-menu-button {
        padding: 12px;
        border-radius: 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: none;
        font-size: $font-size-menu;
        background-color: $color-brand-orange;
        color: white;

        a {
          text-decoration: none;
          color: white;
        }
      }

      .header-container-menu-link {
        padding: $space-l;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: $font-size-menu;
        cursor: pointer;

        &:first-of-type {
          padding: $space-l $space-l $space-l 0px;
        }

        .icon {
          font-size: 16px;
        }

        a {
          text-decoration: none;
          color: white;
          cursor: pointer;
        }
      }

      .header-container-menu-mobile {
        margin-top: 40px;
        margin-left: -70px;
        background-color: black;

        .header-container-menu-link {
          padding: 40px 50px;
        }
      }
    }
  }
}

.signup-button {
    cursor: pointer !important; 
}

@media only screen and (min-width: $tablet) {
  .header {
    .header-container {
      .header-container-menu {
        .header-container-menu-mobile {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 980px) and (min-width: $tablet) {
  .header {
    margin: 0px;
    .header-container {
      .header-container-menu {
        .header-container-menu-link {
          padding: $space-s;
          &:first-of-type {
            padding: $space-s $space-s $space-s $space-l;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $tablet) {

  .header {
    margin: 0px;
    .header-container {

      .header-transparent {
        background-color: black;
        width: 100%;
      }
      .header-container-logo {
        width: 50%;
        padding: 5px;
      }
      .header-container-button {
        display: block;
      }
      .header-container-menu {
        margin-left: -100px;
        margin-top: 50px;

        .header-container-menu-desktop, .header-container-menu-mobile {
          display: none;
        }
      }
    }
  }
}
