@import '../../styling/variables';

.footer-container {
  padding: 10px 50px;
  background-color: $color-brand-orange;
  color: black;

  .footer-container-image img {
    padding-right: 50px;
    width: 100px;
    height: auto;
  }

  .footer-logo-text {
    font-size: $font-size-desc;
  }

  .footer-icon {
    padding: 0 10px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    color: black;
  }
}