@import '../../styling/variables';

.about-container {
  padding: 50px 250px;
  text-align: center;

  .about-container-title {
    text-align: center;
    font-size: $font-size-title;
    padding: 20px 0;
    font-weight:bold;

    span {
      font-weight: lighter;
    }
  }

  .about-container-description {
    font-size: $font-size-desc;
    padding: 20px 100px;
    color: darken(white, 50%);
    line-height: 24px;
    font-weight: lighter;
  }
}

.card-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  justify-content: space-around;

  .card {
    max-width: 200px;
    max-height: 200px;
    padding: 50px 100px;
    text-align: center;
    overflow: hidden;
  }

  .card-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    filter: grayscale(100%);

    &:hover {
      filter: grayscale(50%);
    }
  }
}


@media only screen and (max-width: 1400px) and (min-width: $tablet) {
  .about-container {
    padding: 20px 100px;
  }
}
@media only screen and (max-width: $tablet) {
  .about-container {
    padding: 20px 20px;

    .about-container-description {
      padding: 20px 20px;
    }
  }

}