@import '../../styling/variables';

.about-container {
  padding: 50px 200px;
  text-align: center;

  .about-container-title {
    text-align: center;
    font-size: $font-size-title;
    padding: 20px 0;
    font-weight: bold;
  }

  .about-container-description {
    font-size: $font-size-desc;
    padding: 20px 100px;
    color: darken(white, 50%);
    line-height: 24px;
    font-weight: lighter;
  }
}

.card-container {

  .card {
    display: inline-block;
    min-width: 155px;
    max-width: 200px;
    max-height: 200px;
    padding: 50px;
    text-align: center;
    overflow: hidden;

    .card-desc__role {
      font-size: $font-size-menu;
      background-color: $color-brand-orange;
      color: white;
      text-transform: uppercase;
      padding: 5px;
      border-radius: 10px;
      min-height: 30px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .card-desc__name {
      font-size: $font-size-desc;
      font-weight: bold;
      padding: 10px;
    }
  }

  .card-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    filter: grayscale(100%);
    box-shadow: 0 5px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &:hover {
      filter: grayscale(50%);
    }
  }
}

@media only screen and (max-width: 1400px) and (min-width: $tablet) {
  .about-container {
    padding: 20px 100px;
  }
}

@media only screen and (max-width: $tablet) {
  .about-container {
    padding: 20px 20px;

    .about-container-description {
      padding: 20px 20px;
    }
  }

  .card-container {
    .card {
      padding: 25px 50px;
      border-radius: 8px;

      .card-desc__role {
        padding: 10px;
      }

      .card-desc__name {
        padding: 5px;
      }
    }
  }
}