@import '../../styling/variables';

.gallery-container {
  background-color: black;
  text-align: center;
  padding: 50px;
  color: white;

  .gallery-container-title {
    font-size: $font-size-title;
    font-weight: bold;
    padding: 20px 0;
  }

  .gallery-container-desc {
    font-size: $font-size-desc;
    padding: 20px 100px;
    color: gray;
    line-height: 24px;
  }

  /* Slider ----------- */
  .slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 800px;
    min-height: 400px;
    margin: 0 auto;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
  .slider-container img {
    max-height: 400px;
    filter: grayscale(100%);

    &:hover {
      filter: grayscale(20%);
    }
  }
  .slider-content {
    width: 9999em;
    position: relative;
    left: 0;
  }
  .slide {
    position: relative;
    width: 60em;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    background: #eee;
    border-right: 3px solid #aaa;
    border-left: 3px solid #aaa;
    float: left;
  }
  .slider-container .icon {
    position: absolute;
    top: 50%;
    z-index: 3;
    color: $color-brand-orange;
    -webkit-transition: all .3s ease;
    display: none;
    cursor: pointer;
    font-size: 30px;

    &:hover {
      color: darken($color-brand-orange,20%);
    }

    &.icon-next {
      right:0;
    }
  }

}

@media only screen and (max-width: $tablet) {
  .gallery-container {
    .gallery-container-desc {
      padding: 20px;
    }
    .slider-content {
      position: static;
    }
    .slide {
      margin-bottom: 0px;
      padding-bottom: 0px;
      float: none;
    }
  }
}