@import "../font-awesome-4.7.0/scss/variables";
.icon {
  font-family: 'FontAwesome';

  &.icon-burger {
    &:after {
      content: $fa-var-bars;
    }
  }

  &.icon-info {
    &:after {
      content: $fa-var-info;
    }
  }

  &.icon-sign-in {
    &:after {
      content: $fa-var-sign-in;
    }
  }

  &.icon-calendar {
    &:after {
      content: $fa-var-calendar;
    }
  }

  &.icon-tools {
    &:after {
      content: $fa-var-cog;
    }
  }

  &.icon-contact {
    &:after {
      content: $fa-var-address-book-o;
    }
  }

  &.icon-arrow-down {
    &:after {
      content: $fa-arrow-down;
    }
  }

  &.icon-gears {
    &:after {
      content: $fa-var-cogs;
    }
  }

  &.icon-prev {
    &:after {
      content: $fa-var-prev;
    }
  }

  &.icon-next {
    &:after {
      content: $fa-var-next;
    }
  }

  &.icon-facebook {
    &:after {
      content: $fa-var-facebook;
    }
  }

  &.icon-email {
    &:after {
      content: $fa-var-mail;
    }
  }
}

