// This is the generic file for variables

// COLORS
$color-brand-blue: #3160AB;
$color-brand-orange: #FFAA06;
$color-brand-grey: #C8C8C8;

// FONT-SIZE
$font-size-menu: 12px;


//SPACING
$space-default: 16px;
$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 32px;
$space-xl: 64px;


//MEDIA QUERIES
$mobile: 480px;
$tablet: 760px;
